/*about section*/
#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left img {
    width: 250px;
    height: 360px;
}

#about .col-right {
    width: 100%;
}

#about .col-right h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}

#about .col-right p {
    margin-bottom: 20px;
}

#about .col-right .cta {
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}

#about .col-left .about-img {
    height: 100%;
    font-weight: 100%;
    position: relative;
    border: 10px solid white;
}

#about .col-left .about-img::after {
    content: '';
    position: absolute;
    left: -33px;
    top: 12px;
    height: 100%;
    width: 100%;
    border: 7px solid crimson;
    z-index: -1;
}

/*end about section*/